.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Card {
  background-color: white;
  color: black;
  padding: 20px;
}

.Category, .Spade {
  margin-right: 5px;
  padding: 1px 7px;
  border: medium black solid;
  font-family: monospace;
  font-weight: bold;
}

.Spade {
  margin-left: 180px;
  float: right;
}

.person {
  background: yellow;
}

.world {
  background: mediumblue;
}

.object {
  background: dodgerblue;
}

.adjective {
  background: darkorange;
}

.nature {
  background: green;
}

.random {
  background: red;
}

.Entry {
  text-align: left;
  margin-bottom: 12px;
  display: block;
  font-family: fantasy;
}
