.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  flex-direction: column;
}

.Card {
  background-color: white;
  color: black;
  padding: 20px;
  width: 400px;
}

.Category, .Spade {
  margin-right: 5px;
  padding: 1px 7px;
  border: medium black solid;
  font-family: monospace;
  font-weight: bold;
}

.Spade {
  float: right;
}

.person {
  background: yellow;
}

.world {
  background: mediumblue;
}

.object {
  background: dodgerblue;
}

.adjective {
  background: darkorange;
}

.nature {
  background: green;
}

.random {
  background: red;
}

.Entry {
  text-align: left;
  margin-bottom: 12px;
  display: block;
  font-family: fantasy;
}

.Next {
  all: unset;
}