body {
  margin: 0;
  background-color: #282c34;
}

.title {
  top: 0;
  display: flex;
  margin: auto;
  margin-bottom: 5vh;
  width: 90vw;
  min-width: 240px;
}

.App {
  text-align: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

.Next {
  all: unset;
}